$mainBlack: #000;
$hoverGray: #f2f2f2;
$darkHoverGray: #f2f2f213;
$button-footer-font-grey: rgb(105, 103, 102);

body {
    font-family: arial;
}

.header-word {
    &-left{
        color: $mainBlack;
        padding: 10px;
        font-size: 13px;
        text-decoration: none;
        text-align: center;
        justify-content: center;
    }

    &-right {
        color: $mainBlack;
        float: right;
        padding: 10px;
        font-size: 13px;
        text-decoration: none;
        text-align: center;
        justify-content: center;
    }
}

.dot-icon {
    float: right;
    padding: 10px;
}

.search-box {
    text-align: center;
    justify-content: center;
    padding-top: 300px;
}

.icon {
    opacity: 20%;
}

.input-area {
    border: 1px solid $hoverGray;
    border-radius: 5em;
    width: 30%;
    height: 2.5rem;
    text-indent: 20px;;


    &:hover {
    transition: all .05s;
    transform: scale(1.005);
    cursor: auto;
    box-shadow: 2px 2px 2px 2px rgba($darkHoverGray, 0.89);
    }
}



.button-itself {
    background-color: $hoverGray;
    border: none;
    padding: 15px;
    margin: 15px;    
    text-align: center;
    height: 3em;
    width: 12em;
    color: $button-footer-font-grey;
}

.footer {

    &-upper {
        background: $hoverGray;
        width: 100%;
        position: fixed;
        bottom: 40px;
    }
       

    &-lower {
        background:$hoverGray;
        width: 100%;

        // padding:5px;
        bottom:0;
        position:fixed;
        height: 5%;
        border-top-color: darken($hoverGray, 50%);

}
}

.footer-word {
    color: $button-footer-font-grey;
    padding: 10px;
    font-size: 0.8rem;
    text-decoration: none;
    text-align: center;
    justify-content: center;

    &-uk {
        font-size: 0.9rem;
        color: $button-footer-font-grey;
    }
}


.container {
    color: $mainBlack;
    &-left {
        float: left;
    }
    &-right {
        float: right;
    }
}
.navbar {
    font: $mainBlack;
    padding:2px;
    top:0;
    position:fixed;
    width:100%;
    left:-5px;
}
.header {
    &-left {
        float: left;
    }
    &-right {
        float: right;
    }
}

