body {
    font-family: arial;
}
.searchBox {
    text-align: center;
    justify-content: center;
    padding-top: 300px;
}
input {
    margin-bottom: 15px;
    width: 400px;
}
a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
}


.footer {
    background:#f2f2f2;
    font: black;
    padding:5px;
    bottom:0;
    position:fixed;
    width:100%;
    left:-5px;
}

.left-container {
    float: left;
}

.right-container {
    float: right;
}
.navbar {
    font: black;
    padding:2px;
    top:0;
    position:fixed;
    width:100%;
    left:-5px;
}
.left-header {
    float: left;
}
.right-header {
    float: right;
}
#searchForm img {
    height: 20px;
    width: 15px;
    margin-right: 10px:
  }
