.searchBox {
    text-align: center;
    justify-content: center;
    padding-top: 300px;
}
footer {
    background-color: lightgray;
    text-decoration: none;
}
.left-container {
    float: left;
}

.right-container {
    float: right;
}
li a {
    text-decoration: none;
        text-align: center;
    justify-content: center;
}
ul {
    list-style-type: none;
        text-align: center;
    justify-content: center;
}
left-header {
    float: left;
}
right-header {
    float: right;
}

